#tabela-funcionario {
    border:2px solid white ;
    padding: 20px;
    width: 80%;
    padding: 50px;
}

main{
    padding: 50px;
}

tr, tr {
    border: 2px solid white;
    background-color:rgb(77, 70, 70);
}

#botao-adicionar {
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 70%;
    margin-bottom: 10px;
}

#tabela-conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
}